---
import Section from "../components/Section.astro";
---

<Section
  title="Vive la experiencia Tesla"
  subTitle="Agenda una prueba de manejo hoy"
  color="white"
>
  <div slot="footer">
    <a
      class=`text-white border-white border-[3px] bg-white/5 backdrop-blur-sm rounded font-medium px-12 py-2 inline-block hover:text-black hover:bg-white transition-colors`
      href="#"
    >
      Prueba de manejo
    </a>
  </div>
  <video
    slot="background"
    class="object-center"
    autoplay
    muted
    loop
    src="/video.webm"></video>
</Section>
