---
import Logo from "../components/Logo.astro";
---

<header
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
  <div class="flex flex-grow basis-0">
    <Logo />
  </div>

  <nav>
    <ul
      class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-4 [&>li>a]:font-gothic [&>li>a]:font-semibold [&>li>a]:text-white"
    >
      <li><a href="#">Vehiculos</a></li>
      <li><a href="#">Energia</a></li>
      <li><a href="#">Carga</a></li>
      <li><a href="#">Descubrir</a></li>
      <li><a href="#">Tienda</a></li>
    </ul>
  </nav>

  <nav class="flex flex-grow justify-end basis-0">
    <ul
      class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-4 [&>li>a]:font-gothic [&>li>a]:font-semibold [&>li>a]:text-white"
    >
      <li><a href="#">Soporte</a></li>
      <li><a href="#">Lenguaje</a></li>
      <li><a href="#">Cuenta</a></li>
    </ul>
  </nav>

  <!-- <h1 translate="no" class="text-6xl">Tesla Landing</h1> -->
</header>
