---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../shared/header/pages/LandingHeader.astro";
import LandingHero from "../shared/header/pages/LandingHero.astro";
---

<Layout title="Tesla. El coche de tus sueños y de elon">
  <LandingHeader />

  <main class="relative w-full h-screen overflow-auto">
    <LandingHero />
    <LandingHero />
    <LandingHero />
    <LandingHero />
    <LandingHero />
    <LandingHero />
  </main>
</Layout>
