---
import ChargeSection from "../dashboard/header/dashboard/ChargeSection.astro";
import LandingHeader from "../dashboard/header/dashboard/LandingHeader.astro";
import LandingHero from "../dashboard/header/dashboard/LandingHero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla. El coche de tus sueños y de elon">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth"
  >
    <div class="snap-center">
      <LandingHero />
    </div>
    <div class="snap-center">
      <ChargeSection />
    </div>
    <div class="snap-center">
      <LandingHero />
    </div>
    <div class="snap-center">
      <ChargeSection />
    </div>
  </main>
</Layout>
